.servicesGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	border-top: 1px solid #000;
	position: relative;
	z-index: 1;
}

.serviceRow {
	display: contents;
}

.serviceItem {
	position: relative;
	padding: 1rem;
	overflow: hidden;
	border-bottom: 1px solid #000;
	font-size: 1.25rem;
	transition: color 0.3s ease;
	z-index: 1;
}

.serviceItem::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	z-index: -1;
}

.serviceItem:hover::before {
	transform: translateY(0);
}

.serviceItem:hover {
	color: white;
}
