#productCard {
	transition:
		transform 0.3s ease-out,
		box-shadow 0.3s ease-out;
}

#productCard img {
	transition:
		transform 0.5s ease-out,
		opacity 0.5s ease-out;
}

/* Only enable hover effects on desktop */
@media (min-width: 768px) and (hover: hover) {
	#productCard:hover {
		transform: scale(1.02) translateZ(1rem);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	}

	#productCard:hover img {
		transform: scale(1.05);
	}
}

/* Desktop Add to Cart button */
#addToCartBtn {
	transition:
		opacity 0.3s ease-in-out,
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;
}

/* Only hide desktop button by default */
@media (min-width: 768px) {
	#productCard #addToCartBtn {
		opacity: 0;
	}
}

/* Mobile Add to Cart button */
@media (max-width: 767px) {
	#productCard #addToCartBtn {
		border-radius: 0;
		margin-top: 0;
		opacity: 1;
	}
}

#addToCartBtn:not(:disabled):hover {
	color: white;
	background-color: black;
}

#addToCartBtn:not(:disabled):active {
	color: white;
	background-color: black;
}

#addToCartBtn:disabled {
	cursor: not-allowed;
}

#addToCartBtn:disabled:hover {
	color: black;
	background-color: rgb(229 231 235 / 0.7);
}

#addToCartBtn:disabled:active {
	color: black;
	background-color: rgb(229 231 235 / 0.7);
}
