.backdrop {
	position: absolute;
	inset: 0;
	height: 200%;
	backdrop-filter: blur(9px) brightness(90%) saturate(140%);
	-webkit-backdrop-filter: blur(9px) brightness(90%) saturate(140%);
	mask-image: var(--mask-image);
	-webkit-mask-image: var(--mask-image);
	pointer-events: none;
}

/* .backdropEdge {
  --thickness: 6px;
  position: absolute;
  inset: 0;
  height: 100%;
  transform: translateY(100%);
  background: hsl(0deg 0% 100% / 0.1);
  backdrop-filter: blur(6px) brightness(110%) saturate(120%);
  -webkit-backdrop-filter: blur(6px) brightness(110%) saturate(120%);
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--thickness),
    transparent var(--thickness)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--thickness),
    transparent var(--thickness)
  );
} */
