.blurLink {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.15rem;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.blurLink:hover {
  filter: blur(0.3rem);
} 